packages: [
  "activate-power-mode"
  "atom-beautify"
  "autocomplete-ruby"
  "git-time-machine"
  "haskell-grammar"
  "highlight-selected"
  "language-babel"
  "language-ini"
  "language-markdown"
  "language-ocaml"
  "language-racket"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-rubocop"
  "linter-ruby"
  "linter-swiftlint"
  "markdown-scroll-sync"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-git-diff"
  "minimap-linter"
  "monojai"
  "monokai-soft"
  "package-sync"
  "ruby-block"
  "ruby-block-converter"
  "ruby-test"
  "sort-lines"
  "tool-bar"
  "toolbar-basic"
]
